:root {
  --colour-primary: #000000;
  --color-primary-light: #949494;
  --color-secondary: #fff;
  --color-accent: #ff4551;
  --font-primary: 'Quattrocento', serif;
  --font-secondary: 'Quattrocento Sans', sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--colour-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h5 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

.skip-links {
  display: none;
}

ul {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  list-style-type: none;
}

ol {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

li {
  color: var(--color-secondary);
}

th {
  color: var(--color-secondary);
}

tr {
  color: var(--color-secondary);
}

dl {
  font-family: var(--color-secondary);
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: var(--color-secondary);
}

p {
  color: var(--color-secondary);
}

/* h2 size is zetta */

div > .icon {
  background-color: var(--color-accent);
}
