/* About */
.sm-links {
  text-decoration: none;
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
}

.sm-links:hover {
  color: var(--color-accent);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}
