.nav-box {
  background-color: var(--colour-primary);
}

.nav-a {
  color: var(--color-secondary);
  text-decoration: none;
}

.nav-img {
  float: right;
}

a:hover {
  color: var(--color-accent);
  transition: all .2s;
  transform: scale(0.9);
}
