<header>
    <nav class="nav-box island-1-4">
      <ul class="push-0 list-group-inline left">
        <li class="nav-li gutter-1-2 pad-t-1-4"><a href="/index/" class="nav-a milli {% if.page.highlight_nav == 'index' %}active{% endif %}">Home</a></li>
        <li class="nav-li push-r-1-2 pad-t-1-4"><a href="/projects/" class="nav-a milli {% if.page.highlight_nav == 'projects' %}active{% endif %}">Projects</a></li>
        <li class="nav-li push-r-1-2 pad-t-1-4"><a href="/about/" class="nav-a milli {% if.page.highlight_nav == 'about' %}active{% endif %}">About</a></li>
        <li class="nav-img push-r-1-4 pad-t-1-4"> <a href="/index/"> <img src="/images/32.svg" alt=""> </a> </li>
      </ul>
    </nav>
</header>
