<header class="clearfix">

  <!-- Nav Content -->
  <nav class="nav nav-box island">
    <ul class="push-0 list-group-inline">
      <li class="nav-li gutter-1-2 pad-t-1-2"><a href="/index/" class="nav-a tera {% if.page.highlight_nav == 'index' %}active{% endif %}">Home</a></li>
      <li class="nav-li push-r-1-2 pad-t-1-2"><a href="/projects/" class="nav-a tera {% if.page.highlight_nav == 'projects' %}active{% endif %}">Work</a></li>
      <li class="nav-li push-r-1-2 pad-t-1-2"><a href="/about/" class="nav-a tera {% if.page.highlight_nav == 'about' %}active{% endif %}">About</a></li>
      <li class="nav-img push-r-1-4 pad-t-1-4">
        <a href="/index/">
          <i class="icon i-logo">
            <img src="/images/logo-64.svg" alt="logo">
          </i>
        </a>
      </li>
    </ul>

  </nav>
</header>
