<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Jenny Owens · Graphic & Motion Design · Ottawa, Canada</title>
  <meta name="description" content="Jenny Owens' Graphic & Motion Portfolio">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:title" content="Jenny Owens · Graphic & Motion Portfolio">
  <meta property="og:url" content="https://jennyowens.ca">
  <meta property="og:image" content="https://jennyowens.ca/images/about.jpg">
  <meta property="og:site_name" content="Jenny Owens">
  <meta property="og:description" content="Jenny Owens' Portfolio">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jennyowens">
</head>
<body>

  <ul class="skip-links">
     <li><a href=“#main”>Jump to main content</a></li>
     <li><a href=“#nav”>Jump to navigation</a></li>
  </ul>

  <header role="banner" class="masthead" id="header">
  {% pattern nav/nav %}
  </header>

  <main role="main" id="main" tabindex="0">
  {{content}}
  </main>

{% pattern footer/footer %}

</body>
</html>
