/* video banner */

.embed--16by9 {
  padding-top: 56.25%%
}

.black {
  background-color: rgba(0, 0, 0, 0.59);
  z-index: 3;
  height: 101%;
  width: 101%;
}

.btn:hover {
  transition: all .2s;
  transform: scale(0.9);
}

/* photo banner */

.photobanner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
}
